.zindua {
    text-align: center;
    font-family: sans-serif;
    margin-left: 20%;
}
.body {
    font-family: sans-serif;
    margin-left: 15%;
    margin-right: 30%;
}
.form:after {
    content:" * ";
    color: red;
}
#submit {
    background-color: red;
    display: block;
    width: 400px;
    border-radius: 50px;
    height: 50px;
    margin-left: 40%;
}
.input:focus {
    border: 2px blue;
}
#Firstname {
    border-radius: 5px;
    padding: 10px;
    width: 500px;
}
#Lastname {
   border-radius: 5px;
    padding: 10px;
    width: 500px;
}
#phone {
     border-radius: 5px;
    padding: 10px;
    width: 500px;
}
#email {
 border-radius: 5px;
    padding: 10px;
    width: 500px;
}
.selects {
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  width: 1000px;
}


.name {
    display: flex;
    gap: 30px;
}